In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
import tensorflow as tf
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [28]:
df = pd.read_excel("forestfires_with_FWI.xlsx")

In [29]:
df.head()

,X,Y,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,FWI
0,7,5,mar,fri,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,0.0,10.293590
1,7,4,oct,tue,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,0.0,18.709734
2,7,4,oct,sat,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,0.0,20.671156
3,8,6,mar,fri,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,0.0,16.736803
4,8,6,mar,sun,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,0.0,21.854666

In [30]:
df.shape

(517, 14)

In [31]:
input_set = df.drop(["X","Y","area"], axis = 1)
input_set.shape

(517, 11)

In [32]:
month_index={"jan":1, "feb":2, "mar":3, "apr":4, "may":5, "jun":6, "jul":7, "aug":8, "sep":9, "oct":10, "nov":11, "dec":12}
week_index = {'sun':1,'mon':2,'tue':3,'wed':4,'thu':5,'fri':6,'sat':7}
input_set["month"].replace(month_index, inplace=True)
input_set["day"].replace(week_index, inplace=True)

In [33]:
input_set.head()

   month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain        FWI
0      3    6  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0  10.293590
1     10    3  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0  18.709734
2     10    7  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0  20.671156
3      3    6  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2  16.736803
4      3    1  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0  21.854666

In [34]:
input_set.columns=["Month","Day","FFMCo","DMCo","DCo","ISI","Temp","Rhum","Wind","Rain","FWI"]
input_set = input_set.round()
input_set.head()

   Month  Day  FFMCo  DMCo    DCo   ISI  Temp  Rhum  Wind  Rain   FWI
0      3    6   86.0  26.0   94.0   5.0   8.0    51   7.0   0.0  10.0
1     10    3   91.0  35.0  669.0   7.0  18.0    33   1.0   0.0  19.0
2     10    7   91.0  44.0  687.0   7.0  15.0    33   1.0   0.0  21.0
3      3    6   92.0  33.0   78.0   9.0   8.0    97   4.0   0.0  17.0
4      3    1   89.0  51.0  102.0  10.0  11.0    99   2.0   0.0  22.0

In [26]:
input_set.to_excel("Fire_Weather_Data_1.xlsx", index = False)